html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
      color: white;
      background-color: black;
      font-family: Sans-Serif;
      margin:0px;
      padding: 0px;
      }


#xdone{
  position: relative;
  height: 100%;
   background-image: url("../ico/discovery1.jpg"); 
   background-repeat: no-repeat; 
   background-position: 10em -2em; 
  background-size: 30em;

}

#gfx_bar,#gfx{
  width: 50%;
  height: 100%;
  float: left;
  vertical-align: top;
  resize:none;
  overflow: auto;
  opacity: 1.0;
}

#gfx_bar{
/*  max-width: 35em;*/
  overflow-y : auto;
/*   background-size: 1.5em; */

}

#drawing{
          height: 100%;
          width: 100%;
}

#divider { 
  position: absolute;
  width: 3px;
  margin-left: -2px;
  top: 0;
  bottom: 0;
  background: #2a4;
  border: 1px outset #bbb;
  border-top: 0;
  border-bottom: 0;
  cursor: col-resize;
}
#divider:hover { 
  background: #9fe;
                 }

html.dragging * { 
  cursor: col-resize !important;
}


/* #gfx{ */
/*   display: inline-block; */
/*   vertical-align: top; */
/*   border:0px solid #333; */
/*   border-radius: .5em; */
/* } */

/* #glscreen{ */
/*   position: absolute; */
/*   left: 35em; */
/*   top:0px; */
/*   display: block; */
/*   background-color: black; */
/*   cursor: crosshair; */
/* } */


/*
.layer{
  display: inline-block;
  border-radius: 0em 0em .5em .5em;
  margin-bottom:.5em;
  padding-top: .3em;
}

.layer>h2{
  text-align: left;
  background-color: #333;
  padding:.5em;
  margin:0px;
}

#canvas_info{
  display: inline-block;
}

#pointer_info{
  display: inline-block;
}

#connexion_status{
  position: fixed;
  right: 1em;
  display: inline-block;
  border:1px solid #eee;
  padding: .1em;
  border-radius:.5em;
}


#svglayer{
  display : inline-block;
}
*/




/* .root > .menu > li{ */
/*   padding: 0px; */
/*   margin: 0px; */
/*   width:10.5em; */
/*   height: 3em; */
/*   background-image: url("../ico/hal9000.jpg"); */
/*   background-repeat: no-repeat; */
/*   background-position: center top; */
/*   background-size: 1.5em; */
/*   border: none; */
/*   box-shadow: none; */
/*   vertical-align: top; */

/*   /\* */
/*   padding-top:1.5em; */
/*   padding-bottom:1.5em; */
/*   *\/ */

/* } */

/* .root > .menu > li>a{ */
/*   font-size: 1.5em; */
/*   color : rgba(255,55,55,.8); */
/*   text-shadow : 0px 0px 1px rgba(255,255,255,1.0); */
/* } */

/* .root > .menu > li.hovering, .actions > ul li.hovering { */
/*   background-image: url("../ico/hal9000.jpg"); */
/*   background-repeat: no-repeat; */
/*   background-position: center 55%; */
/*   background-size: 13.0em; */
/*   height: 3em; */
/*   color : rgba(255,255,255,.6); */
/* } */

/* .root > .menu > li > *{ */
/*   vertical-align: top; */
/* } */
/* .root > .menu > li:first-child  { */
/*   border:0px; */
/*   border-radius:0px; */
/*  } */
 
/* .root > .menu > li:last-child  { */
/*   border:0px; */
/*   border-radius:0px; */
/* } */

/* .root > .menu ul{  */
/*   font-size: .9em; */
/*   width:200px; */
/*   margin-top:1.2em; */
/*   margin-left:-0em; */
/* } */


.camera_status{
  height: 6em;
  overflow-y: scroll;
  overflow-x: scroll;
  background: white;
  color: black;
}

